.button {
    font-size: 1.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    
    /* Variáveis injetadas pelo Tema global */
    background-color: var(--bg-button);
    color: var(--text-button);
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    
    transition: background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
}

/* O uso de opacity no active garante que o efeito de clique funcione bem em qualquer tema */
.button:active {
    opacity: 0.6;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: var(--bg-operation);
    color: var(--text-operation);
}

.button.operation:active {
    opacity: 0.8;
}