.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Transição suave ao trocar de tema */
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}